<div class="alert alert-success">  
    <h1 align="center" style="color:darkgoldenrod;">Importing Libraries</h1>  
     
</div>

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from xgboost import XGBRegressor
import lightgbm as lgb
import gc
import numpy as np
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

<div class="alert alert-success">  
    <h1 align="center" style="color:darkgoldenrod;">Loading  Dataset </h1>  
     
</div>

In [14]:
df_sub=pd.read_csv("../sample_submission.csv")
df_train=pd.read_csv("../train.csv")
df_test=pd.read_csv("../test.csv")

<div class="alert alert-success">  
    <h1 align="center" style="color:darkgoldenrod;">Check on Data </h1>  
     
</div>

In [15]:
df_extra = pd.read_csv('../Fertilizer Prediction.csv')

In [16]:
df_extra.columns,df_train.columns

(Index(['Temparature', 'Humidity', 'Moisture', 'Soil Type', 'Crop Type',
        'Nitrogen', 'Potassium', 'Phosphorous', 'Fertilizer Name'],
       dtype='object'),
 Index(['id', 'Temparature', 'Humidity', 'Moisture', 'Soil Type', 'Crop Type',
        'Nitrogen', 'Potassium', 'Phosphorous', 'Fertilizer Name'],
       dtype='object'))

In [17]:
df_train.head()

,id,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,0,37,70,36,Clayey,Sugarcane,36,4,5,28-28
1,1,27,69,65,Sandy,Millets,30,6,18,28-28
2,2,29,63,32,Sandy,Millets,24,12,16,17-17-17
3,3,35,62,54,Sandy,Barley,39,12,4,10-26-26
4,4,35,58,43,Red,Paddy,37,2,16,DAP

In [18]:
df_test.head()

,id,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous
0,750000,31,70,52,Sandy,Wheat,34,11,24
1,750001,27,62,45,Red,Sugarcane,30,14,15
2,750002,28,72,28,Clayey,Ground Nuts,14,15,4
3,750003,37,53,57,Black,Ground Nuts,18,17,36
4,750004,31,55,32,Red,Pulses,13,19,14

In [19]:
df_test.shape,df_train.shape

((250000, 9), (750000, 10))

In [20]:
df_train = df_train.drop(columns=['id'])
df_test = df_test.drop(columns=['id'])

In [21]:
df_train = pd.concat([df_train, df_extra], ignore_index=True)

<div class="alert alert-success">  
    <h1 align="center" style="color:darkgoldenrod;">Checking - Distribution of categorical features </h1>  
     
</div>

In [23]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850000 entries, 0 to 849999
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Temparature      850000 non-null  int64
 1   Humidity         850000 non-null  int64
 2   Moisture         850000 non-null  int64
 3   Soil Type        850000 non-null  object
 4   Crop Type        850000 non-null  object
 5   Nitrogen         850000 non-null  int64
 6   Potassium        850000 non-null  int64
 7   Phosphorous      850000 non-null  int64
 8   Fertilizer Name  850000 non-null  object
dtypes: int64(6), object(3)
memory usage: 58.4+ MB

In [24]:
categorical_columns = df_train.select_dtypes(include=['object']).columns
unique_values = {col: df_train[col].nunique() for col in categorical_columns}
for col, unique_count in unique_values.items():
    print(f"{col}: {unique_count} unique values")
    
gc.collect()

Soil Type: 5 unique values
Crop Type: 11 unique values
Fertilizer Name: 7 unique values

2661

In [25]:
categorical_columns = df_test.select_dtypes(include=['object']).columns
unique_values = {col: df_test[col].nunique() for col in categorical_columns}
for col, unique_count in unique_values.items():
    print(f"{col}: {unique_count} unique values")
    
gc.collect()

Soil Type: 5 unique values
Crop Type: 11 unique values

0

In [26]:
df_test.columns

Index(['Temparature', 'Humidity', 'Moisture', 'Soil Type', 'Crop Type',
       'Nitrogen', 'Potassium', 'Phosphorous'],
      dtype='object')

In [27]:
df_train.columns

Index(['Temparature', 'Humidity', 'Moisture', 'Soil Type', 'Crop Type',
       'Nitrogen', 'Potassium', 'Phosphorous', 'Fertilizer Name'],
      dtype='object')

<div class="alert alert-success">  
    <h1 align="center" style="color:darkgoldenrod;">Exploratory Data Analysis (EDA) </h1>  
     
</div>

In [28]:
import seaborn as sns

In [29]:
missing_train = df_train.isna().mean() * 100
missing_test = df_test.isna().mean() * 100

print("Columns in df_train with more than 10% missing values:")
print(missing_train[missing_train > 0])

print("\nColumns in df_test with more than 10% missing values:")
print(missing_test[missing_test > 0])

Columns in df_train with more than 10% missing values:
Series([], dtype: float64)

Columns in df_test with more than 10% missing values:
Series([], dtype: float64)

In [30]:
missing_values = df_train.isnull().sum()
missing_values = missing_values[missing_values > 0]

if not missing_values.empty:
    plt.figure(figsize=(10, 6))
    sns.barplot(x=missing_values.index, y=missing_values.values, palette='viridis')
    plt.xticks(rotation=90)
    plt.xlabel('Features')
    plt.ylabel('Missing Values')
    plt.title('Missing Values per Feature')
    plt.tight_layout()
    plt.show()
else:
    print("✅ No missing values found in the dataset.")

✅ No missing values found in the dataset.

In [31]:
!pip install dython

Collecting dython
  Downloading dython-0.7.9-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: numpy>=1.23.0 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from dython) (2.2.5)
Requirement already satisfied: pandas>=1.4.2 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from dython) (2.2.3)
Requirement already satisfied: seaborn>=0.12.0 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from dython) (0.13.2)
Requirement already satisfied: scipy>=1.7.1 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from dython) (1.15.3)
Requirement already satisfied: matplotlib>=3.6.0 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from dython) (3.10.3)
Requirement already satisfied: scikit-learn>=0.24.2 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from dython) (1.6.1)
Requirement already satisfied: psutil>=5.9.1 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from dython) (7.0.0)
Collecting setuptools (from dython)
  Using cached setuptools-80.9.0-py3-none-any.whl.metadata (6.6 kB)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from matplotlib>=3.6.0->dython) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from matplotlib>=3.6.0->dython) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from matplotlib>=3.6.0->dython) (4.58.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from matplotlib>=3.6.0->dython) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from matplotlib>=3.6.0->dython) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from matplotlib>=3.6.0->dython) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from matplotlib>=3.6.0->dython) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from matplotlib>=3.6.0->dython) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from pandas>=1.4.2->dython) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from pandas>=1.4.2->dython) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.6.0->dython) (1.17.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from scikit-learn>=0.24.2->dython) (1.5.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\muham\onedrive\belgeler\github_projeler\kaggle_competition\.venv\lib\site-packages (from scikit-learn>=0.24.2->dython) (3.6.0)
Downloading dython-0.7.9-py3-none-any.whl (26 kB)
Using cached setuptools-80.9.0-py3-none-any.whl (1.2 MB)
Installing collected packages: setuptools, dython

   ---------------------------------------- 0/2 [setuptools]
   ---------------------------------------- 0/2 [setuptools]
   ---------------------------------------- 0/2 [setuptools]
   ---------------------------------------- 0/2 [setuptools]
   ---------------------------------------- 0/2 [setuptools]
   ---------------------------------------- 0/2 [setuptools]
   -------------------- ------------------- 1/2 [dython]
   ---------------------------------------- 2/2 [dython]

Successfully installed dython-0.7.9 setuptools-80.9.0

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder
import category_encoders as ce

missing_threshold = 0.95

high_missing_columns = df_train.columns[df_train.isnull().mean() > missing_threshold]

df_train = df_train.drop(columns=high_missing_columns)
df_test = df_test.drop(columns=high_missing_columns)
target = 'class'

for column in df_train.columns:
    if df_train[column].isnull().any():      
        if df_train[column].dtype == 'object':
            mode_value = df_train[column].mode()[0]
            df_train[column].fillna(mode_value, inplace=True)
            df_test[column].fillna(mode_value, inplace=True)     
        else:
            median_value = df_train[column].median()
            df_train[column].fillna(median_value, inplace=True)
            df_test[column].fillna(median_value, inplace=True)